html {
    font-size: 18px;
    font-family: Montserrat;
}


/* Experiment task styles */

.chart-container {
    width: 1000px;
    height: 500px;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: aqua;
}